{{ dataHoraAtual }}
<p><button (click)="atualizarDataHora()">Atualizar data</button></p>

<p>Data em tempo real: {{ dataTempoReal }}</p>
<p>
  <a (click)="downloadCSV()">
    <i class="bi-file-earmark-excel"></i>
  </a>
  &nbsp;
  <a (click)="downloadPDF()">
    <i class="bi-file-earmark-pdf"></i>
  </a>
</p>
<table class="table">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">DATA</th>
        <th scope="col">HORA</th>
        <th scope="col">TIPO</th>
        <th scope="col">LOCALIZAÇÃO</th>
        <th>lo</th>
      </tr>
      <tr *ngFor="let lancamento of lancamentos" >
        <td>{{lancamento.id}}</td>
        <td >{{lancamento.data | data | date: "dd/MM/yyyy"}}</td>
        <td>{{lancamento.data | hora}}</td>
        <td>{{lancamento.tipo | tipo}}</td>
        <td><a href="https://www.google.com/maps/place/{{lancamento.localizacao}}" target="_blanck">{{lancamento.localizacao}}</a></td>
        <td>
            <a [href]="urlLocalizacao(lancamento.localizacao)"
            target="_blank">
              {{lancamento.localizacao}}
            </a>
        </td>
      </tr>
  </table>
